* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat-medium", sans-serif;
}

@font-face {
    font-family: "tomatoSoup";
    src: url(./fonts/TomatoSoup-Regular.ttf) format("truetype");
}

img {
    height: 200px;
}

input {
    color: black;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    display: flex;
    background-color: honeydew;
    justify-content: center;
    height: 100vh;
}

.profile {
    display: flex;
    width: 70%;
    height: 80%;
    margin: 3%;
}

.profile-pic {
}

.username {
}

.bio-container {
    display: flex;
    flex-direction: column;
}

/* NAV */

.nav-bar {
    background-color: white;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    color: black;
    letter-spacing: 0.3rem;
    font-weight: 400;
    font-family: "tomatoSoup";
    font-size: 85px;
    margin: 5px;
    margin-left: 15px;
}

#profilePic {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 20px;
    border-radius: 50%;
}

.fa-sign-out-alt {
    color: black;
    font-size: 25px;
}
.fa-bars {
    margin-right: 15px;
    font-size: 20px;
}

.fa-comments {
    font-size: 20px;
}

.nav {
    text-decoration: none;
    color: black;
    margin: 0 20px;
}

.menu {
    position: fixed;
    width: 20%;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LOGIN / REGISTER */

#header {
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 400;
    font-family: "tomatoSoup";
    font-size: 270px;
    height: 25%;
}

.gif-background {
    height: 960px;
    width: 1440px;
}

#login {
    display: flex;
    justify-content: center;
}

.background-container {
    visibility: visible;
    z-index: -100;
    position: fixed;
    top: 0px;
    left: 0px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    background-color: #000;
    z-index: -80;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.auth-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 80%;

    border-radius: 10px;
}

.auth-input {
    border: none;
    background: rgba(255, 255, 255, 0.2);
    margin: 30px;
    width: 180px;
    height: 30px;
    padding: 20px;
    font-size: 12px;
    color: white;
}

.auth-input:focus {
    background: rgba(0, 0, 0, 0.2);
    border-bottom: white solid 1px;
    outline: none;
}

.auth-input::placeholder {
    color: white;
}

.auth-input-container {
    display: flex;
    margin: 20px;
    margin-top: 170px;
}

.btn-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.auth-btn {
    display: inline-block;
    width: 200px;
    background: none;
    border: white solid 1.5px;
    font-weight: 400;
    font-family: "Montserrat-medium", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 17px;
    color: white;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.auth-btn:hover {
    background: white;
    color: black;
    border: white solid 1.5px;
}

#reset {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 3px;
}

#reset p {
    color: grey;
}
#reset a {
    color: white;
    text-decoration: none;
}

/* UPLOADER */

.upload {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: white;
    position: fixed;
    top: 10%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    padding: 10px;
    z-index: 1;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
}

.fa-times {
    align-self: flex-end;
}

#upload {
    width: 100px;
    align-self: center;
    margin: 5px;
}

/* CHAT */

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: honeydew;
}

.chat-container {
    height: 400px;
    width: 700px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.chat-message-right {
    background-color: white;
    width: 40%;
    padding: 8px;
    border-radius: 15px;
    padding-right: 10px;
    align-self: flex-end;
    margin: 15px;
    box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.43);
}

.chat-message-left {
    background-color: white;
    width: 40%;
    padding: 8px;
    border-radius: 15px;
    padding-left: 10px;
    align-self: flex-end;
    margin: 15px;
    box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.43);
}

.chat-textarea {
    width: 600px;
    height: 100px;
    border-radius: 10px;
    margin: 20px;
}

.chat-block-right {
    display: flex;
    flex-direction: row-reverse;
}

.chat-block-left {
    display: flex;
}

.chat-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.chat-user {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

/* 404 */

image {
    width: 100vw;
    height: 100vh;
}

svg {
    width: 100vw;
    height: 100vh;
    font: 900 270px "Montserrat-medium", sans-serif;
    letter-spacing: 1rem;
}

text {
    fill: url(#gif);
}

.wrapper404 {
    background: #1d1f20;
    position: fixed;
    top: 0;
}

#back-container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 35%;
}

#back {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
}

#back:hover {
    color: #11896b;
}

/* SEARCH */

.searchfield {
    position: inherit;
}

.search-background {
    height: 100px;
    width: 100vw;
    top: 0;
    object-fit: cover;
    z-index: 1;
}

.search-input {
    color: white;
    font-size: 60px;
    position: absolute;
    height: 100px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    padding: 20px;
    padding-left: 80px;
    z-index: 2;
}

.search-icon {
    position: absolute;
    color: black;
    font-family: "Raleway", sans-sans-serif;
    margin: 30px;
    font-size: 40px;
    z-index: 3;
}

.search-icon:hover {
    display: inline-block;
    cursor: pointer;
    transform-origin: center center;
    transition: transform 0.4s cubic-bezier(0.5, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 4;
}
