* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat-medium", sans-serif;
}

@font-face {
    font-family: "tomatoSoup";
    src: url(./fonts/TomatoSoup-Regular.ttf) format("truetype");
}

img {
    height: 200px;
}

input {
    color: white;
}

#header {
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 400;
    font-family: "tomatoSoup";
    font-size: 270px;
    height: 25%;
}

# #welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {
    display: flex;
    justify-content: center;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: inherit;
}

/* Auth */

.background-container {
    visibility: visible;
    z-index: -100;
    position: fixed;
    top: 0px;
    left: 0px;
}

.gif-background {
    height: 960px;
    width: 1440px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    background-color: #000;
    z-index: -80;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.auth-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 80%;

    border-radius: 10px;
}

.auth-input {
    border: none;
    background: rgba(255, 255, 255, 0.2);
    margin: 30px;
    width: 180px;
    height: 30px;
    padding: 20px;
    font-size: 12px;
}

.auth-input:focus {
    background: rgba(0, 0, 0, 0.2);
    border-bottom: white solid 1px;
    outline: none;
}

.auth-input::placeholder {
    color: white;
}

.auth-input-container {
    display: flex;
    margin: 20px;
    margin-top: 170px;
}

.btn-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.auth-btn {
    display: inline-block;
    width: 200px;
    background: none;
    border: white solid 1.5px;
    font-weight: 400;
    font-family: "Montserrat-medium", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 17px;
    color: white;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.auth-btn:hover {
    background: white;
    color: black;
    border: white solid 1.5px;
}

#reset {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 3px;
}

#reset p {
    color: grey;
}
#reset a {
    color: white;
    text-decoration: none;
}

/* 404 */

.wrap-404 {
    background: #1d1f20;
    padding: 50px;
    overflow: hidden;
    color: #fff;

    margin: 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.background404 {
}

#pattern {
    width: 750;
    height: 800;
    viewbox: 0 0 300 100;
    patternunits: userSpaceOnUse;
}
svg {
    position: absolute;
    width: 100%;
    height: auto;
    font: bold 100px sans-serif;
    text-transform: uppercase;
}
.text-404 {
    fill: url(#p-img);
}
